{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="main_div">
        <h2>Добро пожаловать в википедии по Башне Друаги</h2>
        <p>Вики о видеоиграх и аниме-сериалах Tower of Druaga</p>

                <div class="state">
            <h3>Главный герой</h3>
            <hr style="width: 250px; margin: 0">
            <p>Джил — главный<br>герой<img src="{% static 'img/Jil.png' %}"><br>
                аниме-сериалов<br>
                « Башня Друаги:<br>Эгида Урука» и «Башня Друаги: Меч Урука».<br>
                Джил — молодой искатель приключений,<br>
                мечтающий достичь вершины Башни Друага.<br>Он волевой, решительный и,<br>
                как видно из первого эпизода,<br>глубоко мечтает стать уважаемым чемпионом.<br>
                Он относится к защитному классу:<br>Страж и изначально использует щит с<br>
                выдвижным шипом в одной руке и<br>
                любое самодельное оружие, которое он<br>
                может найти, в другой (обычно палку).</p>
        </div>

        <div class="main_soder">
            <h3>Содержимое</h3>
            <hr style="width: 820px; margin: 0">
            <div class="soder">
                <ul class="ul">
                    <li><a href="">Персонажи</a></li><br>
                    <li><a href="">Эпизоды</a></li><br>
                    <li><a href="">Руководство по игре<br>"Башня Друаги"</a></li>
                </ul>
            </div>
            <div class="soder1">
                <ul class="ul">
                    <li><a href="">Игры</a></li><br>
                    <li><a href="">Предметы</a></li><br>
                    <li><a href="">Башня Друаги(Настольная игры)</a></li>
                </ul>
            </div>
        </div>


<!--        <div class="state">-->
<!--            <h3>Главный герой</h3>-->
<!--            <hr>-->
<!--            <p>Джил — главный<br>герой<img src="{% static 'img/Jil.png' %}"><br>-->
<!--                аниме-сериалов<br>-->
<!--                « Башня Друаги:<br>Эгида Урука» и «Башня Друаги: Меч Урука».<br>-->
<!--                Джил — молодой искатель приключений,<br>-->
<!--                мечтающий достичь вершины Башни Друага.<br>Он волевой, решительный и,<br>-->
<!--                как видно из первого эпизода,<br>глубоко мечтает стать уважаемым чемпионом.<br>-->
<!--                Он относится к защитному классу:<br>Страж и изначально использует щит с<br>-->
<!--                выдвижным шипом в одной руке и<br>-->
<!--                любое самодельное оружие, которое он<br>-->
<!--                может найти, в другой (обычно палку).</p>-->
<!--        </div>-->
    </div>
</body>
</html>